.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-screen-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}